mat-grid-tile {
  background: lightblue;
}

mat-grid-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  justify-content: center;
}

.figura-card {
  max-width: 400px;
  width: 100%;
}